.card {
    background-color: $blue950;
    position: absolute;
    top: 120px;
    padding: 88px 71px 0 0;
    max-width: 736px;
    width: 100%;

    @media (max-width: 1180px) {
        max-width: 592px;
        padding: 88px 44px 0 0;
        top: 225px;
    }

    @media (max-width: 775px) {
        max-width: 560px;
        padding: 70px 10px 0 0;
        top: 240px;
    }

    @media (max-width: 600px) {
        max-width: 100%;
        padding: 0;
        background-color: transparent;
        top: 90px;
    }

    &Title {
        text-transform: uppercase;
        color: $green;
        font-size: 48px;
        font-weight: 300;
        line-height: 120%;

        @media (max-width: 600px) {
            font-size: 32px;
            text-align: center;
        }

        &Span {
            color: $white;
        }
    }

    &Text {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        margin: 24px 0 40px 0;
        color: $blue300;
        max-width: 448px;
        width: 100%;

        @media (max-width: 600px) {
            margin-top: 16px;
            font-size: 14px;
            text-align: center;
        }
    }

    &Content {
        @media (max-width: 600px) {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            justify-content: center;
        }
    }

    &Logos {
        margin-top: 64px;

        @media (max-width: 1180px) {
            margin-top: 40px;
        }

        @media (max-width: 600px) {
            margin-top: 0;
            flex-wrap: nowrap;
            display: flex;
            margin-bottom: 40px;
        }
    }

    &Logo {
        margin-right: 40px;

        @media (max-width: 600px) {
            margin-right: 18px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.spotify {
    @media (max-width: 600px) {
        max-width: 56px;
        width: 100%;
    }
}

.apple {
    @media (max-width: 600px) {
        max-width: 45px;
        width: 100%;
    }
}

.google {
    @media (max-width: 600px) {
        max-width: 73px;
        width: 100%;
    }
}

.pocket {
    @media (max-width: 600px) {
        max-width: 76px;
        width: 100%;
    }
}